<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GSSR</title>
</head>
<body>
    <h1>GSSR - 20CR Tide Gauges</h1>
    
    <h4><a href="/twcr">List of all tide gauges</a></h4>

    <h4><a href="/show">Search by country</a></h4>

    <h4><a href="http://gssr.info">GSSR web Map</a></h4>
</body>
</html>

<!-- things to work on  -->
<!-- 
    * embellish home page with navbar - home - links
    * add back - to home buttons
    * get 20-cr and era20c validations + reconstructions 
    * think about plotting reconstructions 
    * how can i host this on GSSR - not just localhost
 -->